version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
      DJANGO_SETTINGS_MODULE: task_manager.settings
      PYTHONUNBUFFERED: "1"
    command: >
      sh -c "
      cd code &&
      python manage.py migrate &&
      pytest -vv tests
      "
    volumes:
      - .:/project

volumes:
  pgdata: