.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #222;
    border-color: #222;
}

.btn-primary:active {
    background-color: #111;
    border-color: #111;
}
